.price {
    margin-top: 94px;
    display: flex;
    padding-bottom: 102px;

    @include media-md {
        margin-top: 500px;
    }

    @include media-sm {
        margin-top: 500px;
    }

    & .price_content {
        width: 100%;
        height: 717px;

        & .price_text {
            width: 629px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @include media-md {
                width: 100%;
                align-items: center;
                text-align: center;
            }

            @include media-sm {
                width: 100%;
                align-items: center;
                text-align: center;
            }

            & h2 {
                color: $txt;
                font-family: Montserrat;
                font-size: $fz3;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            & h3 {
                color: $txt;
                font-family: Montserrat;
                font-size: $fz4;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @include media-md {
                    width: 100%;
                    display: none;
                }

                @include media-sm {
                    width: 100%;
                    display: none;
                }
            }
        }

        & .price_items_content {
            width: 100%;
            height: 100%;
            margin-top: 60px;

            @include media-md {
                margin-top: 0px;
            }

            @include media-sm {
                margin-top: 0px;
            }

            & .price_items {
                display: flex;
                justify-content: space-between;

                & .price_item {
                    display: flex;
                    flex-direction: column;
                    width: 421px;
                    height: 579px;
                    border: 1px solid #EBEBEB;
                    background: #FFF;
                    text-align: center;

                    @include media-md {
                        &:nth-child(1) {
                            display: none;
                        }

                        &:last-child {
                            display: none;
                        }

                        border: none;
                        width: 100%;
                    }

                    @include media-sm {
                        &:nth-child(1) {
                            display: none;
                        }

                        &:last-child {
                            display: none;
                        }

                        border: none;
                        width: 100%;
                    }

                    & .item_header_text {
                        margin-top: 84px;

                        @include media-md {
                            margin-top: 40px;
                        }

                        @include media-sm {
                            margin-top: 40px;
                        }

                        & p {
                            color: $txt;
                            font-family: Montserrat;
                            font-size: $fz4;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                            @include media-md {
                                font-size: 18px;
                            }

                            @include media-sm {
                                font-size: 18px;
                            }
                        }
                    }

                    & .item_body_text {
                        margin-top: 60px;

                        @include media-md {
                            margin-top: 20px;
                        }

                        @include media-sm {
                            margin-top: 20px;
                        }

                        & p {
                            margin-top: 25px;
                            color: $txt;
                            text-align: center;
                            font-family: Montserrat;
                            font-size: $fz6;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 131.4%;

                            @include media-md {
                                font-size: 18px;
                            }

                            @include media-sm {
                                font-size: 18px;
                            }
                        }
                    }

                    .item_price {
                        margin-top: 60px;

                        & p {
                            color: $txt;
                            text-align: center;
                            font-family: Montserrat;
                            font-size: $fz3;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }

                    & .buttons {
                        margin-top: 60px;

                        & .all {
                            display: none;
                            margin-top: 30px;

                            & a {
                                color: #333;
                                text-align: center;
                                font-family: Montserrat;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 131.4%;

                            }

                            @include media-md {
                                display: block;
                            }

                            @include media-sm {
                                display: block;
                            }
                        }

                        & button {
                            background-color: $yellow;
                            border: none;
                            width: 250px;
                            height: 51.337px;
                            flex-shrink: 0;
                        }
                    }

                    &:hover {
                        border: 1px solid #FED100;
                    }
                }
            }
        }
    }
}